

<ul class="right hide-on-med-and-down">
    <li><a href="#!">Login</a></li>
    <li><a href="#!">Signup</a></li>


</ul>

<ul class="side-nav" id="mobile-demo">
    <li><a href="#!">Login</a></li>
    <li><a href="#!">Signup</a></li>
</ul>