body{
    display:flex;
    flex-direction:column;
    height: 100vh;
}

main{
    flex:1;    
}

/*
    ##Text
*/

strong{
    font-weight:bold;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}