/*
    ##Products
*/


.product-card__image--list img{
    height: 200px;
    object-fit:contain;
}

.product-card__image--detail img{
    max-height: 500px;
    object-fit: contain;
}


/**
    ##Buttons
*/



.btn-text-icon{
    display:flex;
    align-items: center;
    justify-content:center;
}

/*
    ##Alert message
*/

.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer; 
}