@model string
<nav class="blue dark-2">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="@Url.Action("Index",Model)" class="breadcrumb">Listado </a>
            <span class="breadcrumb"> Detalle </span>
        </div>
    </div>
</nav>