
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/NoNav/_Layout2.cshtml";
}


<section class="indigo   lighten-4 square-form">
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4 class="blue-grey-text"> Iniciar sesión como Administrador</h4>

        <div class="row">
            <div class="input-field col s12">
                <label for="username">Username</label>
                <input id="username" name="Username" type="text" class="validate">
            </div>

            <div class="input-field col s12">
                <label for="password">Password</label>
                <input id="password" name="Password" type="password" class="validate">
            </div>
        </div>

        <button type="submit"
                class="waves-effect waves-light btn-large square-form__button">
            <i class="material-icons right">send</i>
            Ingresar Dashboard
        </button>
        <a href="/">Ir a Home</a>
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p>
                @ViewBag.Message
            </p>
        }
    }

</section>