

<ul class="right hide-on-med-and-down">
    <li><a href="#!">Todos nuestros productos</a></li>
    <li><a href="#!">Contactanos</a></li>
    <li><a href="#!"><i class="material-icons">shopping_cart</i></a> </li>
    <li><a href="#!"><i class="material-icons">account_circle</i></a></li>
</ul>

<ul class="side-nav" id="mobile-demo">
    <li><a href="#!">Todos nuestros productos</a></li>
    <li><a href="#!">Contactanos</a></li>
    <li><a href="#!"><i class="material-icons">shopping_cart</i></a> </li>
    <li><a href="#!"><i class="material-icons">account_circle</i></a></li>
</ul>